@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,400;0,700;1,400&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bellota", cursive;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}
